body{
    background-image: linear-gradient(to bottom right,#900c3f, #ffc300);
}

.jumbotron{
    background-color: rgb(75, 74, 74, 0.5);
}
.big{
    font-family: 'Monoton', cursive;
    font-size: 115px;
}
.mainButton{
    background-color:  #F39303;
    border: 0pt;
}
.lead{
    font-size: 40px;
    color: antiquewhite;
}