body{
    background: url(../img/Zack4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.jumbotron{
    background-color: rgb(75, 74, 74, 0.5);
}
.big{
    font-family: 'Monoton', cursive;
    font-size: 115px;
}
.mainButton{
    background-color:  #F39303;
    border: 0pt;
}
.lead{
    font-size: 60px !important;
    color: antiquewhite;
}
.text-center{
    font-size: 70px;
    color: antiquewhite;
}