.list-group-item {
  line-height: 2.5;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.jumbotron{
margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.nav{
  margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
