.list-group-item {
  line-height: 2.5;
}
body{
  background-color: #881A12;
  background-size: cover;
}
.footer {
  position: sticky;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.jumbotron{
margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.nav{
  margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
#required_text , .required{
  color: red;
}
.display-4{
  color: #F39303;
}
#address{
  text-align: center;
}
.nav-link{
  font-family: 'Calistoga', cursive;
  font-size: 28px;
  color: #F39303;
}
.socialBtn{
  color: #F39303;
}
.fa-facebook-square:before {
  content: "\f082";
  color: crimson;
}
.fa-instagram:before {
  color: crimson;
  content: "\f16d";
}
.fa-envelope:before {
  content: "\f0e0";
  color: crimson;
}